html.sg-flatwhite
  font-family: 'Lato', sans-serif;
  margin 0
  padding 0

.sgfw-content-wrapper
  center(960px)

h1.sgfw-h1, .sgfw-markdown-container h1,
h2.sgfw-h2, .sgfw-markdown-container h2,
h3.sgfw-h3, .sgfw-markdown-container h3,
h4.sgfw-h4, .sgfw-markdown-container h4,
h5.sgfw-h5, .sgfw-markdown-container h5,
h6.sgfw-h6, .sgfw-markdown-container h6
  font-family: 'Montserrat', sans-serif;
