html.sg-flatwhite
  margin 0
  padding 0

  &, button, input
    font-family: 'Lato', sans-serif;
    font-size 100%

.content-wrapper
  center(960px)

.headline-prio-1, .markdown-container h1,
.headline-prio-2, .markdown-container h2,
.headline-prio-3, .markdown-container h3,
.headline-prio-4, .markdown-container h4,
.headline-prio-5, .markdown-container h5,
.headline-prio-6, .markdown-container h6
  font-family: 'Montserrat', sans-serif;
