html.sg-flatwhite
body
  margin 0
  padding 0

.content-wrapper
  center(960px)

.headline-prio-1, .markdown-container h1,
.headline-prio-2, .markdown-container h2,
.headline-prio-3, .markdown-container h3,
.headline-prio-4, .markdown-container h4,
.headline-prio-5, .markdown-container h5,
.headline-prio-6, .markdown-container h6
  font-family: 'Roboto', sans-serif;
  font-weight: normal;

.headline-prio-1, .markdown-container h1,
.headline-prio-2, .markdown-container h2
  font-weight: 200;

.headline-prio-3, .markdown-container h3,
.headline-prio-4, .markdown-container h4
  font-weight: 400;

code
  font-family: 'Roboto Mono', sans-serif;
  
ul
  list-style-type square
  