/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html
  /* Change default typefaces here */
  font-family: 'Roboto Slab', serif;
  font-size 87.5%
  
  -webkit-font-smoothing antialiased

/* Copy & Lists */
p
  line-height 1.5rem
  margin-top 1.5rem
  margin-bottom 0

ul,
ol
  margin-top 1.5rem
  margin-bottom 1.5rem

ul li,
ol li
  line-height 1.5rem

ul ul,
ol ul,
ul ol,
ol ol
  margin-top 0
  margin-bottom 0

blockquote
  line-height 1.5rem
  margin-top 1.5rem
  margin-bottom 1.5rem

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6
  /* Change heading typefaces here */
  font-family sans-serif
  margin-top 1.5rem
  margin-bottom 0
  line-height 1.5rem

h1
  font-size 3.242rem
  line-height 3.5rem
  margin-top 2rem
  letter-spacing -.015rem
  // +desktop()
  //   font-size 10rem

h2
  font-size 2.5rem
  line-height 2.7rem
  margin-top 2rem
  letter-spacing -.015rem

h3
  font-size 1.6rem
  letter-spacing .02rem

h4
  font-size 1.2rem
  color #444

h5
  font-size 1rem

h6
  font-size 1rem

/* Tables */
table
  margin-top 1.5rem
  border-spacing 0px
  border-collapse collapse

table td,
table th
  padding 0
  line-height 33px

/* Code blocks */
code
  vertical-align bottom

/* Leading paragraph text */
.lead
  font-size 1.414rem

/* Hug the block above you */
.hug
  margin-top 0
