.dropdown-item
  display none

  &:after
    font-family 'Ionicons'
    content '\f123'
    // display block
    font-size .875rem
    margin-left .3rem

  &:first-of-type
    display block

.dropdown-link
  font-weight 600
  outline none
