// These are the basic colors for our complete project,
// without any use of context. If you want to use them for a semantic
// context, create a reference in semantic-colors palette.
//
// Don't reference these colors in any other occurance.

shining-white = rgb(255, 255, 255)

pearl-black = rgb(0, 0, 5)
fine-black = rgb(32, 32, 32)

light-gray = rgb(250, 250, 250)

ambient-gray = rgb(155, 155, 155)
