@require './colors'

// legend: (using the short notions of zen-css / emmet)
//
// *-bg   --> background color
// *-c    --> font color
// *-ff   --> font family
// *-bdc  --> border color

main-bg = light-gray
main-contrast-bg = shining-white
main-c = pearl-black
main-hover-c = ambient-gray
main-text-c = fine-black
main-ambient-c = ambient-gray
main-bdc = ambient-gray
main-ambient-bdc = light-ambient-gray

nav-bar-bg = main-contrast-bg
nav-bar-bdc = main-bdc

page-label-c = main-ambient-c

content-group-link-bg = main-contrast-bg
content-group-link-c = main-ambient-c
content-group-link-active-c = main-c
content-group-bdc = main-ambient-bdc

component-footer-bg = light-ambient-gray
component-bdc = fine-black

main-nav-bg = main-contrast-bg
main-nav-contrast-bg = light-ambient-gray
main-nav-contrast-c = shining-white
main-nav-contrast-hover-c = ambient-gray
main-nav-bdc = main-ambient-bdc
main-nav-contrast-bdc = shining-white

dropdown-link-hover-c = shining-white
dropdown-link-active-c = dropdown-link-hover-c

dropdown-link-contrast-c = main-ambient-c
dropdown-link-contrast-hover-c = main-c
dropdown-link-contrast-active-c = main-c
