<div class="page static-page">
  <header class="page-header">
    <h1 class="page-label">{{label}}</h1>
  </header>

  <section class="page-content markdown-container">
    {{{content}}}
  </section>
</div>
