<div class="components">
  <header class="components-header">
    <h1 class="headline-prio-1">{{label}}</h1>
  </header>

  {{#if preflight}}
    <div  class="preflight-text test-stylegen-preflight markdown-container">
        {{{preflight}}}
    </div>
  {{/if}}

  {{#each components}}
    {{{compiled}}}
  {{/each}}
</div>
