.off-canvas-nav
  display inline-block
  overflow hidden
  vertical-align top

  position fixed
  top 0
  bottom 0
  left 0

  overflow-y auto

  z-index -1

  // default mobile view size
  width 80%
  max-width 400px
  min-width 300px

  background-color main-contrast-bg


.off-canvas-content
  display inline-block
  background-color main-bg
  position absolute
  top 0
  right 0
  bottom 0
  left -10px
  overflow scroll
  -webkit-overflow-scrolling touch

  box-shadow -2px 0px 28px -12px rgba(0,0,0,0.75)
  // border-left 10px solid rgb(245, 245, 245)

  transition transform .5s ease
