.tabs-nav
  padding-top 1rem

.tabs-nav-list
  display inline
  margin 0
  padding 0


.tabs-nav-item
  display inline-block

  &:after
    content: '|'
    color ft-inactive

  &:last-of-type:after
    content: ''

.tabs-nav-link
  text-decoration none

  &, .tabs-nav-item.active &:hover
    color ft-inactive

  .tabs-nav-item.active &
    color #000
