.component-state
  margin-top 3rem


  .component-preview-content
    padding-bottom 3rem

.component-state-label
  headline-secondary()
  margin-bottom 1rem

.component-state-header, .component-state-doc-wrapper
  page-padding()

.component-state-label, .component-state-doc
  padding-left .5rem
  padding-right .5rem


.component-state-content
  position relative

  .dropdown
    background-color main-contrast-bg
    // display none

    position absolute
    left 50%
    bottom 0

    transform translateX(-50%)

    padding 0 1rem 1rem .7rem

    .dropdown-link
      color dropdown-link-contrast-c

      &:before
        font-size 1.2rem
        margin-left .8rem

      &.ion-iphone:before
        font-size 1rem

    .dropdown-item.active .dropdown-link, .dropdown-link:hover:before
      color dropdown-link-contrast-active-c
