.component-state
  margin-top 3rem

.component-state-label
  headline-secondary()
  margin-bottom 1rem

.component-state-header, .component-state-doc-wrapper
  page-padding()

.component-state-label, .component-state-doc
  padding-left .5rem
  padding-right .5rem


.component-state-content
  position relative

  .dropdown
    background-color main-contrast-bg

    position absolute
    right 50%
    top 100%

    transform translateX(50%)

    padding 1rem 1rem
