.markdown-container
  h1, h2, h3, h4, h5, h6
    margin-top 3rem
    margin-bottom .5rem
    font-weight 500

  h1
    font-size 2.25rem
  h2
    font-size 1.7rem

  h3
    font-size 1.25rem

  h4
    font-size 1.25rem

  h5, h6
    font-size 1rem
    font-weight bold
  h1
    headline-primary()
    margin-bottom 1rem

  a
  a:visited
      color: #0066aa
  a:hover
    text-decoration: underline
    color: #0099cc
  p
    font-size 1rem
    line-height 1.33
    margin-bottom 1.5rem

  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6
    margin-top 1.5rem

  p code
    background: white;
    padding: .2em;
    color: #990000;
    font-size: 1rem
    border-radius: 4px
    background: #eee

  pre
    border-radius: 4px
    font-size: 1rem
    background: #eee
    margin-bottom: 1.5rem

  ul
    list-style-type square
    li
      display list-item
      margin 0.5rem 0.5rem 0.5rem 1.5rem

  table
    width 100%
    padding 0.25rem
    background #eee
    border-radius: 4px

    th
      text-align left
      padding 0.5rem 0

    td
      padding 0.5rem
      background #fff