.markdown-container
  h1, h2, h3, h4, h5, h6
    margin-bottom .5rem

  h1
    font-size 1.3125rem
    font-weight 400
    margin-bottom 1rem

  p
    font-size 0.9375rem
    line-height 1.33
    margin-bottom 1rem

  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6
    margin-top 1.5rem
