@require './_state-variant'

.preview
  overflow hidden
  position relative
  top 0
  left 0
  border 0
  background-color transparent

  // to avoid fixed elements running out of our container, we use a little hack here:
  // http://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/
  // transform rotate(0)

  transition height .5s

.preview
  // padding-bottom 1rem
