@require './_state-variant'

.sgfw-preview
  padding-top .5rem
  overflow hidden
  position relative
  top 0
  left 0

  // to avoid fixed elements running out of our container, we use a little hack here:
  // http://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/
  transform: rotate(0);

.sgfw-preview
  padding-bottom 1rem
