@require 'spacing-helper'
@require 'typography-helper'

invisible-text-button()
  font-size 0
  visibility hidden

  &:before
    font-size 1rem
    visibility visible


v-aligned()
  position relative
  top 50%
  transform translateY(-50%)

encapsulated()
  position relative
  overflow hidden
