@require './_nav-item'
@require './_nav-link'

.nav-list, .nav-children
  padding 0
  margin 0


.nav
  overflow hidden
  col(1/4)

  & > .nav-list > .nav-item
    margin-top .5rem

    & > .nav-link
      font-weight bold
