@require './_nav-item'
@require './_nav-link'

.sgfw-nav-list, .sgfw-nav-children
  padding 0
  margin 0


.sgfw-nav
  overflow hidden
  col(1/4)

  & > .sgfw-nav-list > .sgfw-nav-item
    margin-top .5rem

    & > .sgfw-nav-link
      font-weight bold
