.preview-breakpoints
  text-align center

  .preview
    margin-left auto
    margin-right auto
    transition all .5s ease


  .preview-state-variant + .preview-state-variant
    margin-top .5rem

.preview-breakpoints-item.active .preview-breakpoints-button
  color dropdown-link-active-c
