.preview-breakpoints
  text-align center

  .preview
    margin-left auto
    margin-right auto

  .preview
    transition all 1s ease

  .preview iframe
    margin-left 0px
    transition all .5s ease

  .preview-state-variant + .preview-state-variant
    margin-top .5rem

.preview-breakpoints-item.active .preview-breakpoints-button
  color dropdown-link-active-c
