.preview-breakpoints-item
  border 1px solid #000
  border-left 0

  &:first-of-type
    border-left 1px solid #000
    border-radius 1rem 0 0 1rem
    padding-left .5rem

  &:last-of-type
    border-radius 0 1rem 1rem 0
    padding-right .5rem


  &.active
    background-color rgb(55, 55, 55)

    .preview-breakpoints-button
      color #fff
