<div class="components">
  {{#if preflight}}
    <header class="preflight-text test-stylegen-preflight markdown-container">
      <h1 class="headline-prio-1">{{label}}</h1>
      {{{preflight}}}
    </header>
  {{/if}}

  {{#each components}}
    {{{compiled}}}
  {{/each}}
</div>
