@require 'content-group-item'
@require 'content-group-nav-item'
@require 'content-group-nav-list'
@require 'content-group-nav'
@require 'content-group-nav-link'

.content-group
  encapsulated()
  page-padding()
  
